<footer class="footer-container">
    <section class="footer-block">
        <h3>Coronga</h3>
        <p>An accomplished entrepreneur and former physician, Florian now drives growth and sets overall
            direction across all facets of Cedar’s operations. Prior to founding Cedar, Florian was an executive
            at Zocdoc where he drove the commercial adoption of the platform.</p>
    </section>
    <section class="footer-text">
        <p>Desenvolvimento por <span>Coronga</span></p>
    </section>
</footer>