.quem-somos {
    height: 400px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.quem-somos-block {
    text-align: center;
    width: 50%;
}

.quem-somos-block h2 {
    color: var(--color-main-darker);
}