<section class="quem-somos" id="quem-somos-section">
    <div class="quem-somos-block">
        <h2>Resumo</h2>
        <p>A Saúde Pública do Brasil é um ponto de extrema importância e deve ser tratado com cuidado e prioridade. 
            Sendo assim, foi criada a Política Nacional de Medicamentos, na qual tem o intuito de fornecer medicamentos gratuitos ou semi-gratuitos à população.            Através de pesquisas que objetivavam descobrir o conhecimento dos entrevistados sobre a disposição desses medicamentos, foi notado que mais da metade do 
            público em questão, desconheciam esse direito. Pensando nisso, foi construído um Assistente Virtual para o aplicativo WhatsApp em smartphones e computadores para 
            informatizar e instruir a população sobre esse direito comum.  
        </p>
    </div>
</section>
