<section class="quem-somos" id="quem-somos-section">
    <div class="quem-somos-block">
        <h2>Quem somos</h2>
        <p>When things are clear, easy and relevant for patients, providers form stronger relationships, minimize
            administrative burden and achieve better financial results, so what’s good for patients is good for
            providers. At Cedar, we foster that mutually beneficial relationship through proven expertise and modern
            technology. We combine the best techniques of fintech, ad tech, consumer and healthcare to help
            providers understand and engage patients more effectively.</p>
    </div>
</section>
