<section class="integrantes" id="integrantes-section">
    <div class="integrantes-block">
        <h3>Integrantes</h3>
        <div class="integrantes-content">
            <div class="integrantes-item">
                <img [src]="gabs" alt="">
                <div class="integrantes-spacing">
                    <p>Olá, meu nome é Gabriel, estudante de programação e quero sempre conhecer mais sobre a área para quem sabe me tornar um programador back-end. </p>
                    <h4>Gabriel Alves de Giacomo</h4>
                </div>
            </div>
            <div class="integrantes-item">
                <img [src]="robert" alt="">
                <div class="integrantes-spacing">
                    <p>Eu sou o Robert, tenho 20 anos e já programo fazem 3. Gosto muito de aprender novas técnicas, tecnologias e estar sempre atualizado sobre as mesmas.</p>
                    <h4>Robert Alexandre de Almeida</h4>
                </div>
            </div>
            <div class="integrantes-item">
                <img [src]="vini" alt="">
                <div class="integrantes-spacing">
                    <p>Estudante cursando o sétimo semestre de Ciência da Computação na Universidade Anhembi Morumbi e um aspirante em desenvolvimento de software.</p>
                    <h4>Vinícius Pimentel</h4>
                </div>
            </div>
        </div>
    </div>
</section>