<section class="integrantes" id="integrantes-section">
    <div class="integrantes-block">
        <h3>Integrantes</h3>
        <div class="integrantes-content">
            <div class="integrantes-item">
                <img src="https://thiscatdoesnotexist.com" alt="">
                <div class="integrantes-spacing">
                    <p>An accomplished entrepreneur and former physician, Florian now drives growth and sets overall
                        direction across all facets of Cedar’s operations.</p>
                    <h4>Gabriel Alves de Giacomo</h4>
                </div>
            </div>
            <div class="integrantes-item">
                <img src="https://thiscatdoesnotexist.com" alt="">
                <div class="integrantes-spacing">
                    <p>An accomplished entrepreneur and former physician, Florian now drives growth and sets overall
                        direction across all facets of Cedar’s operations.</p>
                    <h4>Robert Alexandre de Almeida</h4>
                </div>
            </div>
            <div class="integrantes-item">
                <img src="https://thiscatdoesnotexist.com" alt="">
                <div class="integrantes-spacing">
                    <p>An accomplished entrepreneur and former physician, Florian now drives growth and sets overall
                        direction across all facets of Cedars operations.</p>
                    <h4>Vinícius Pimentel</h4>
                </div>
            </div>
        </div>
    </div>
</section>