/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');


:root {
	--color-main:#7bb241 ;
    --color-main-lighter :#ade470;
    --color-main-darker :#4a820c ;
    --color-bg-navbar :#F8F9FA ;
    --color-letters: #181819;
    --color-letters-disable: rgb(141, 141, 141);
}

* {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

h2, h3 { 
	font-size: 2.5em;
	color: var(--color-main-darker); 
} 

p {
	font-size: 1.2em;
    line-height: 1.3;
	color: #555555;	
}

html {
	scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}