header {
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
}

#menu {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
}

#logo {
    height: 100%;
}

#menu-nav {
    display: flex;
    justify-content: flex-end;
}

#menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    color: white;
    text-decoration: none;
    padding: 20px;
}

