<header>
    <section id="menu">
        <img id="logo" src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png" alt="">    
        <nav id="menu-nav">
            <ul id="menu-items" >
                <li>
                    <a routerLink="#" class="menu-item">Home</a>
                </li>
                <li>
                    <a routerLink="#" class="menu-item">Quem somos</a>
                </li>
                <li>
                    <a routerLink="#" class="menu-item">Visão e valores</a>
                </li>
                <li>
                    <a routerLink="#" class="menu-item">O Projeto</a>
                </li>
                <li>
                    <a routerLink="#" class="menu-item">Depoimentos</a>
                </li>
                <li>
                    <a routerLink="#" class="menu-item">Integrantes</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
<main>

</main>
<footer>

</footer>